{% extends "users/base.html" %}

<h1>Here is SignUp page.</h1>

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<div class="auth">
  <form action="{% url 'users:signup' %}" method="post">
    {% csrf_token %}

    <!-- 장고 폼에서 가져온 form으로 input tag를 쓰지 않고서도 for문 돌면서 input 형식으로 화면에 뿌림. -->
    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field }}
    </div>
    {% endfor %}

    <input type="submit" value="Sign up">

  </form>
</div>

<div class="aut_link">
<a href="{% url 'users:main' %}">Login</a>
</div>
{% endblock content %}

